## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 01-02 23:59**.

In [3]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [11]:
df = pd.read_csv("country_vaccinations.csv")

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [5]:
print(df.columns)
(df.describe())

Index(['country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million',
       'vaccines', 'source_name', 'source_website'],
      dtype='object')

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,4.360700e+04,4.129400e+04,3.880200e+04,3.536200e+04,8.621300e+04,43607.000000,41294.000000,38802.000000,86213.000000
mean,4.592964e+07,1.770508e+07,1.413830e+07,2.705996e+05,1.313055e+05,80.188543,40.927317,35.523243,3257.049157
std,2.246004e+08,7.078731e+07,5.713920e+07,1.212427e+06,7.682388e+05,67.913577,29.290759,28.376252,3934.312440
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,5.264100e+05,3.494642e+05,2.439622e+05,4.668000e+03,9.000000e+02,16.050000,11.370000,7.020000,636.000000
50%,3.590096e+06,2.187310e+06,1.722140e+06,2.530900e+04,7.343000e+03,67.520000,41.435000,31.750000,2050.000000
75%,1.701230e+07,9.152520e+06,7.559870e+06,1.234925e+05,4.409800e+04,132.735000,67.910000,62.080000,4682.000000
max,3.263129e+09,1.275541e+09,1.240777e+09,2.474100e+07,2.242429e+07,345.370000,124.760000,122.370000,117497.000000

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [217]:
table = pd.pivot_table(df, values='daily_vaccinations_per_million', index='date', columns='country')
table

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-25,NaN,NaN,NaN,NaN,1007.0,727.0,NaN,1712.0,NaN,653.0,...,3425.0,NaN,NaN,0.0,NaN,526.0,1172.0,NaN,900.0,4610.0
2022-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1653.0,NaN,625.0,...,3418.0,NaN,NaN,NaN,NaN,479.0,1352.0,NaN,760.0,5528.0
2022-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1620.0,NaN,672.0,...,3417.0,NaN,NaN,NaN,NaN,475.0,1532.0,NaN,765.0,6005.0
2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1521.0,NaN,709.0,...,2990.0,NaN,NaN,NaN,NaN,508.0,1713.0,NaN,770.0,6667.0
2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200.0,NaN,718.0,...,2897.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,721.0,6874.0

3. Convert the date index to datetime format.

In [375]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 86512 entries, 0 to 86511
Series name: date
Non-Null Count  Dtype
--------------  -----
86512 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 676.0 KB

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [31]:
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.month
df.columns[-1]

'month'

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [383]:
apc = df.groupby(['country', 'month'])['daily_vaccinations_per_million'].mean()
table = apc.reset_index().pivot(index='country', columns='month', values='daily_vaccinations_per_million')

table

month,1,2,3,4,5,6,7,8,9,10,11,12
country,,,,,,,,,,,,
Afghanistan,323.806452,305.852941,153.886792,183.700000,231.322581,203.233333,273.096774,479.161290,471.066667,862.516129,687.266667,385.741935
Albania,1357.423077,1171.250000,823.363636,3933.466667,3739.580645,2095.700000,2561.225806,3007.419355,3239.166667,2005.806452,2264.466667,2537.161290
Algeria,394.878788,233.375000,410.100000,501.000000,501.000000,501.000000,501.000000,1857.870968,2931.666667,745.741935,727.466667,414.419355
Andorra,7731.216216,2848.053571,2650.636364,7494.566667,2790.709677,13875.533333,7402.838710,4367.354839,2795.633333,945.645161,713.133333,5460.000000
Angola,2922.612903,1941.035714,619.854545,364.600000,366.870968,581.300000,166.387097,286.548387,1257.766667,2917.903226,2984.266667,2040.774194
...,...,...,...,...,...,...,...,...,...,...,...,...
Wales,3911.384615,4119.553571,4788.288136,7441.800000,7108.419355,6978.800000,4488.032258,2060.516129,703.900000,5148.677419,5047.933333,8355.677419
Wallis and Futuna,808.387097,1262.000000,5894.333333,8512.100000,8330.548387,1766.733333,1104.935484,1349.161290,2004.133333,3009.451613,1415.233333,613.580645
Yemen,84.903226,48.178571,45.875000,NaN,143.818182,181.400000,45.838710,8.290323,81.500000,147.806452,69.400000,63.000000
Zambia,1183.032258,848.785714,1033.103448,70.562500,214.161290,9.433333,415.645161,297.129032,238.166667,342.741935,290.533333,998.483871
Zimbabwe,802.645161,470.473684,1053.333333,799.066667,1147.806452,647.633333,2225.967742,3847.612903,2535.466667,1313.322581,1500.933333,1452.225806

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [211]:
df = pd.read_csv("country_vaccinations.csv" )
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.month

table = df.pivot_table(index='country', columns='month', values='daily_vaccinations_per_million', aggfunc='mean')
(table)

month,1,2,3,4,5,6,7,8,9,10,11,12
country,,,,,,,,,,,,
Afghanistan,323.806452,305.852941,153.886792,183.700000,231.322581,203.233333,273.096774,479.161290,471.066667,862.516129,687.266667,385.741935
Albania,1357.423077,1171.250000,823.363636,3933.466667,3739.580645,2095.700000,2561.225806,3007.419355,3239.166667,2005.806452,2264.466667,2537.161290
Algeria,394.878788,233.375000,410.100000,501.000000,501.000000,501.000000,501.000000,1857.870968,2931.666667,745.741935,727.466667,414.419355
Andorra,7731.216216,2848.053571,2650.636364,7494.566667,2790.709677,13875.533333,7402.838710,4367.354839,2795.633333,945.645161,713.133333,5460.000000
Angola,2922.612903,1941.035714,619.854545,364.600000,366.870968,581.300000,166.387097,286.548387,1257.766667,2917.903226,2984.266667,2040.774194
...,...,...,...,...,...,...,...,...,...,...,...,...
Wales,3911.384615,4119.553571,4788.288136,7441.800000,7108.419355,6978.800000,4488.032258,2060.516129,703.900000,5148.677419,5047.933333,8355.677419
Wallis and Futuna,808.387097,1262.000000,5894.333333,8512.100000,8330.548387,1766.733333,1104.935484,1349.161290,2004.133333,3009.451613,1415.233333,613.580645
Yemen,84.903226,48.178571,45.875000,NaN,143.818182,181.400000,45.838710,8.290323,81.500000,147.806452,69.400000,63.000000
Zambia,1183.032258,848.785714,1033.103448,70.562500,214.161290,9.433333,415.645161,297.129032,238.166667,342.741935,290.533333,998.483871
Zimbabwe,802.645161,470.473684,1053.333333,799.066667,1147.806452,647.633333,2225.967742,3847.612903,2535.466667,1313.322581,1500.933333,1452.225806

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [14]:
apc = df.groupby(['country','date', 'month'])['daily_vaccinations_per_million'].mean()
table = apc.reset_index().pivot(index=['country','date'], columns='month', values='daily_vaccinations_per_million')

stk = table.stack()
reset = stk.reset_index()
reset.columns = ['country', 'date', 'month', 'mean']

df_rst = reset[['country', 'date', 'month']]
df_rst

           country       date  month
0      Afghanistan 2021-02-23      2
1      Afghanistan 2021-02-24      2
2      Afghanistan 2021-02-25      2
3      Afghanistan 2021-02-26      2
4      Afghanistan 2021-02-27      2
...            ...        ...    ...
86208     Zimbabwe 2022-03-25      3
86209     Zimbabwe 2022-03-26      3
86210     Zimbabwe 2022-03-27      3
86211     Zimbabwe 2022-03-28      3
86212     Zimbabwe 2022-03-29      3

[86213 rows x 3 columns]

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [32]:
melt_df = df_rst.melt(id_vars=['country', 'date'], value_name= "month ")
melt_df

           country       date variable  month
0      Afghanistan 2021-02-23    month       2
1      Afghanistan 2021-02-24    month       2
2      Afghanistan 2021-02-25    month       2
3      Afghanistan 2021-02-26    month       2
4      Afghanistan 2021-02-27    month       2
...            ...        ...      ...     ...
86208     Zimbabwe 2022-03-25    month       3
86209     Zimbabwe 2022-03-26    month       3
86210     Zimbabwe 2022-03-27    month       3
86211     Zimbabwe 2022-03-28    month       3
86212     Zimbabwe 2022-03-29    month       3

[86213 rows x 4 columns]