## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 01-02 23:59**.

In [90]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [91]:
df = pd.read_csv("D:\codes\week19\Class7-DataManipulation-Module-Week19\country_vaccinations.csv")
df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86507,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,139213.0,69579.0,57.59,31.90,23.02,4610.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86508,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,100086.0,83429.0,58.25,32.38,23.11,5528.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86509,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,53311.0,90629.0,58.61,32.59,23.15,6005.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86510,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,89321.0,100614.0,59.20,32.97,23.20,6667.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86511,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,105369.0,103751.0,59.90,33.48,23.26,6874.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [92]:
# YOUR CODE HERE
df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,4.360700e+04,4.129400e+04,3.880200e+04,3.536200e+04,8.621300e+04,43607.000000,41294.000000,38802.000000,86213.000000
mean,4.592964e+07,1.770508e+07,1.413830e+07,2.705996e+05,1.313055e+05,80.188543,40.927317,35.523243,3257.049157
std,2.246004e+08,7.078731e+07,5.713920e+07,1.212427e+06,7.682388e+05,67.913577,29.290759,28.376252,3934.312440
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,5.264100e+05,3.494642e+05,2.439622e+05,4.668000e+03,9.000000e+02,16.050000,11.370000,7.020000,636.000000
50%,3.590096e+06,2.187310e+06,1.722140e+06,2.530900e+04,7.343000e+03,67.520000,41.435000,31.750000,2050.000000
75%,1.701230e+07,9.152520e+06,7.559870e+06,1.234925e+05,4.409800e+04,132.735000,67.910000,62.080000,4682.000000
max,3.263129e+09,1.275541e+09,1.240777e+09,2.474100e+07,2.242429e+07,345.370000,124.760000,122.370000,117497.000000

In [93]:
# df['date'] = pd.to_datetime(df['date'])
# df['month'] = df['date'].dt.month
# df = df.set_index('month')
# df

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [94]:
# YOUR CODE HERE
pivot_df = df.pivot(index='date', columns='country', values='daily_vaccinations_per_million')
pivot_df

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-25,NaN,NaN,NaN,NaN,1007.0,727.0,NaN,1712.0,NaN,653.0,...,3425.0,NaN,NaN,0.0,NaN,526.0,1172.0,NaN,900.0,4610.0
2022-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1653.0,NaN,625.0,...,3418.0,NaN,NaN,NaN,NaN,479.0,1352.0,NaN,760.0,5528.0
2022-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1620.0,NaN,672.0,...,3417.0,NaN,NaN,NaN,NaN,475.0,1532.0,NaN,765.0,6005.0
2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1521.0,NaN,709.0,...,2990.0,NaN,NaN,NaN,NaN,508.0,1713.0,NaN,770.0,6667.0
2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200.0,NaN,718.0,...,2897.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,721.0,6874.0

3. Convert the date index to datetime format.

In [95]:
# YOUR CODE HERE
pivot_df.index = pd.to_datetime(pivot_df.index)
pivot_df.index

DatetimeIndex(['2020-12-02', '2020-12-03', '2020-12-04', '2020-12-05',
               '2020-12-06', '2020-12-07', '2020-12-08', '2020-12-09',
               '2020-12-10', '2020-12-11',
               ...
               '2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23',
               '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27',
               '2022-03-28', '2022-03-29'],
              dtype='datetime64[ns]', name='date', length=483, freq=None)

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [96]:
# YOUR CODE HERE

pivot_df['month'] = pivot_df.index.month

# df.insert(0, "month", df.index.month, True)
# pivot_df.tail()

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [97]:
# YOUR CODE HERE

df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df['month'] = df['date'].dt.month
result = df.groupby(['month', 'country']).mean(numeric_only=True).unstack(level=1)
result = result['daily_vaccinations_per_million'].T
result

month,1,2,3,4,5,6,7,8,9,10,11,12
country,,,,,,,,,,,,
Afghanistan,323.806452,305.852941,153.886792,183.700000,231.322581,203.233333,273.096774,479.161290,471.066667,862.516129,687.266667,385.741935
Albania,1357.423077,1171.250000,823.363636,3933.466667,3739.580645,2095.700000,2561.225806,3007.419355,3239.166667,2005.806452,2264.466667,2537.161290
Algeria,394.878788,233.375000,410.100000,501.000000,501.000000,501.000000,501.000000,1857.870968,2931.666667,745.741935,727.466667,414.419355
Andorra,7731.216216,2848.053571,2650.636364,7494.566667,2790.709677,13875.533333,7402.838710,4367.354839,2795.633333,945.645161,713.133333,5460.000000
Angola,2922.612903,1941.035714,619.854545,364.600000,366.870968,581.300000,166.387097,286.548387,1257.766667,2917.903226,2984.266667,2040.774194
...,...,...,...,...,...,...,...,...,...,...,...,...
Wales,3911.384615,4119.553571,4788.288136,7441.800000,7108.419355,6978.800000,4488.032258,2060.516129,703.900000,5148.677419,5047.933333,8355.677419
Wallis and Futuna,808.387097,1262.000000,5894.333333,8512.100000,8330.548387,1766.733333,1104.935484,1349.161290,2004.133333,3009.451613,1415.233333,613.580645
Yemen,84.903226,48.178571,45.875000,NaN,143.818182,181.400000,45.838710,8.290323,81.500000,147.806452,69.400000,63.000000
Zambia,1183.032258,848.785714,1033.103448,70.562500,214.161290,9.433333,415.645161,297.129032,238.166667,342.741935,290.533333,998.483871
Zimbabwe,802.645161,470.473684,1053.333333,799.066667,1147.806452,647.633333,2225.967742,3847.612903,2535.466667,1313.322581,1500.933333,1452.225806

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [98]:
# YOUR CODE HERE

pivot_table = df.pivot_table(index='country', columns='month', values='daily_vaccinations_per_million', aggfunc='mean')
pivot_table

month,1,2,3,4,5,6,7,8,9,10,11,12
country,,,,,,,,,,,,
Afghanistan,323.806452,305.852941,153.886792,183.700000,231.322581,203.233333,273.096774,479.161290,471.066667,862.516129,687.266667,385.741935
Albania,1357.423077,1171.250000,823.363636,3933.466667,3739.580645,2095.700000,2561.225806,3007.419355,3239.166667,2005.806452,2264.466667,2537.161290
Algeria,394.878788,233.375000,410.100000,501.000000,501.000000,501.000000,501.000000,1857.870968,2931.666667,745.741935,727.466667,414.419355
Andorra,7731.216216,2848.053571,2650.636364,7494.566667,2790.709677,13875.533333,7402.838710,4367.354839,2795.633333,945.645161,713.133333,5460.000000
Angola,2922.612903,1941.035714,619.854545,364.600000,366.870968,581.300000,166.387097,286.548387,1257.766667,2917.903226,2984.266667,2040.774194
...,...,...,...,...,...,...,...,...,...,...,...,...
Wales,3911.384615,4119.553571,4788.288136,7441.800000,7108.419355,6978.800000,4488.032258,2060.516129,703.900000,5148.677419,5047.933333,8355.677419
Wallis and Futuna,808.387097,1262.000000,5894.333333,8512.100000,8330.548387,1766.733333,1104.935484,1349.161290,2004.133333,3009.451613,1415.233333,613.580645
Yemen,84.903226,48.178571,45.875000,NaN,143.818182,181.400000,45.838710,8.290323,81.500000,147.806452,69.400000,63.000000
Zambia,1183.032258,848.785714,1033.103448,70.562500,214.161290,9.433333,415.645161,297.129032,238.166667,342.741935,290.533333,998.483871
Zimbabwe,802.645161,470.473684,1053.333333,799.066667,1147.806452,647.633333,2225.967742,3847.612903,2535.466667,1313.322581,1500.933333,1452.225806

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [99]:
# YOUR CODE HERE
pivot_df = pivot_df.drop("month", axis=1)
new = pd.DataFrame(pivot_df.stack())
new_df = new.stack()
e = new_df.reset_index().drop('level_2', axis=1)
e['month']= e['date'].dt.month
e.rename(columns={0:'daily_vaccinations_per_million'}, inplace=True)
e.tail()

            date               country  daily_vaccinations_per_million  month
86208 2022-03-29                Turkey                           538.0      3
86209 2022-03-29  United Arab Emirates                           845.0      3
86210 2022-03-29               Uruguay                          2897.0      3
86211 2022-03-29                Zambia                           721.0      3
86212 2022-03-29              Zimbabwe                          6874.0      3

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [100]:
# YOUR CODE HERE
df_melted= df.melt(id_vars=["date","month", "country", 'daily_vaccinations_per_million'])
df_melted.drop_duplicates()
df_melted.drop(['variable', 'value'], axis=1).tail()

              date  month   country  daily_vaccinations_per_million
1038139 2022-03-25      3  Zimbabwe                          4610.0
1038140 2022-03-26      3  Zimbabwe                          5528.0
1038141 2022-03-27      3  Zimbabwe                          6005.0
1038142 2022-03-28      3  Zimbabwe                          6667.0
1038143 2022-03-29      3  Zimbabwe                          6874.0