## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 01-02 23:59**.

In [1]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [4]:
df = pd.read_csv("country_vaccinations.csv")
df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86507,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,139213.0,69579.0,57.59,31.90,23.02,4610.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86508,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,100086.0,83429.0,58.25,32.38,23.11,5528.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86509,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,53311.0,90629.0,58.61,32.59,23.15,6005.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86510,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,89321.0,100614.0,59.20,32.97,23.20,6667.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86511,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,105369.0,103751.0,59.90,33.48,23.26,6874.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [7]:
# YOUR CODE HERE
df.describe()

Index(['country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million',
       'vaccines', 'source_name', 'source_website'],
      dtype='object')

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [9]:
# YOUR CODE HERE
pv = df.pivot ( index= 'date', columns ='country' , values= 'daily_vaccinations')
pv

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-25,NaN,NaN,NaN,NaN,34171.0,11.0,NaN,78068.0,NaN,70.0,...,11936.0,NaN,NaN,0.0,NaN,1667.0,13.0,NaN,17037.0,69579.0
2022-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75388.0,NaN,67.0,...,11911.0,NaN,NaN,NaN,NaN,1519.0,15.0,NaN,14375.0,83429.0
2022-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73872.0,NaN,72.0,...,11909.0,NaN,NaN,NaN,NaN,1505.0,17.0,NaN,14473.0,90629.0
2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69351.0,NaN,76.0,...,10421.0,NaN,NaN,NaN,NaN,1609.0,19.0,NaN,14571.0,100614.0
2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54723.0,NaN,77.0,...,10097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13650.0,103751.0

3. Convert the date index to datetime format.

In [12]:
# YOUR CODE HERE
 
pv.index = pd.to_datetime(pv.index)
pv

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-25,NaN,NaN,NaN,NaN,34171.0,11.0,NaN,78068.0,NaN,70.0,...,11936.0,NaN,NaN,0.0,NaN,1667.0,13.0,NaN,17037.0,69579.0
2022-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75388.0,NaN,67.0,...,11911.0,NaN,NaN,NaN,NaN,1519.0,15.0,NaN,14375.0,83429.0
2022-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73872.0,NaN,72.0,...,11909.0,NaN,NaN,NaN,NaN,1505.0,17.0,NaN,14473.0,90629.0
2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69351.0,NaN,76.0,...,10421.0,NaN,NaN,NaN,NaN,1609.0,19.0,NaN,14571.0,100614.0
2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54723.0,NaN,77.0,...,10097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13650.0,103751.0

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [19]:
# YOUR CODE HERE
from datetime import datetime


df['date']=  pd.to_datetime( df['date'])
df['month'] =df['date'].dt.strftime("%B")

df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website,month
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86507,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,139213.0,69579.0,57.59,31.90,23.02,4610.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,March
86508,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,100086.0,83429.0,58.25,32.38,23.11,5528.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,March
86509,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,53311.0,90629.0,58.61,32.59,23.15,6005.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,March
86510,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,89321.0,100614.0,59.20,32.97,23.20,6667.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,March
86511,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,105369.0,103751.0,59.90,33.48,23.26,6874.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,March

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [38]:
# YOUR CODE HERE

# df.pivot ( columns= 'month' , values=)
# new_df= df['country', 'month']

df2= df[ ['country', 'month', 'daily_vaccinations']]
df2= df2.groupby(['country', 'month']).mean()

df2.pivot_table ( index = 'country' , columns=  'month', values = 'daily_vaccinations'   )

month,April,August,December,February,January,July,June,March,May,November,October,September
country,,,,,,,,,,,,
Afghanistan,7320.200000,19091.129032,15370.903226,12183.705882,12893.870968,10877.290323,8096.633333,6130.811321,9220.580645,27373.833333,34347.645161,18775.166667
Albania,11300.766667,8640.129032,7289.322581,3365.089286,3900.153846,7358.483871,6020.733333,2365.545455,10743.483871,6505.800000,5762.774194,9306.100000
Algeria,22369.000000,82900.096774,18490.677419,10411.982143,17612.242424,22369.000000,22369.000000,18305.050000,22369.000000,32458.466667,33258.870968,130799.066667
Andorra,579.733333,337.838710,422.354839,220.303571,598.054054,572.645161,1073.333333,205.022727,215.870968,55.166667,73.161290,216.266667
Angola,12373.700000,9723.064516,69251.387097,65867.178571,99173.419355,5647.516129,19727.500000,21033.200000,12450.548387,101265.066667,99013.193548,42680.633333
...,...,...,...,...,...,...,...,...,...,...,...,...
Wales,23590.466667,6531.903226,26487.258065,13059.017857,12398.903846,14227.193548,22122.933333,15178.932203,22533.516129,16002.033333,16321.161290,2231.266667
Wallis and Futuna,94.433333,14.967742,6.806452,14.000000,8.967742,12.258065,19.600000,65.388889,92.419355,15.700000,33.387097,22.233333
Yemen,NaN,253.580645,1926.000000,1470.357143,2591.096774,1392.516129,5530.266667,1397.875000,4392.181818,2119.866667,4502.774194,2487.966667
Zambia,1335.000000,5622.806452,18892.806452,16057.607143,22384.677419,7865.516129,177.300000,19547.758621,4051.774194,5498.100000,6485.806452,4508.566667
Zimbabwe,12060.600000,58068.290323,21917.870968,7100.815789,12114.516129,33594.935484,9775.866667,15897.216667,17322.548387,22653.966667,19820.258065,38264.500000

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [ ]:
# YOUR CODE HERE
#I already used pivot table

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [39]:
# YOUR CODE HERE
df.index
#i don't get it because I already have index as numbers

RangeIndex(start=0, stop=86512, step=1)

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [ ]:
# YOUR CODE HERE