## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 01-02 23:59**.

In [118]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [119]:
df = pd.read_csv("country_vaccinations.csv")

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [120]:
df.describe

<bound method NDFrame.describe of            country iso_code        date  total_vaccinations  \
0      Afghanistan      AFG  2021-02-22                 0.0
1      Afghanistan      AFG  2021-02-23                 NaN
2      Afghanistan      AFG  2021-02-24                 NaN
3      Afghanistan      AFG  2021-02-25                 NaN
4      Afghanistan      AFG  2021-02-26                 NaN
...            ...      ...         ...                 ...
86507     Zimbabwe      ZWE  2022-03-25           8691642.0
86508     Zimbabwe      ZWE  2022-03-26           8791728.0
86509     Zimbabwe      ZWE  2022-03-27           8845039.0
86510     Zimbabwe      ZWE  2022-03-28           8934360.0
86511     Zimbabwe      ZWE  2022-03-29           9039729.0

       people_vaccinated  people_fully_vaccinated  daily_vaccinations_raw  \
0                    0.0                      NaN                     NaN
1                    NaN                      NaN                     NaN
2                    NaN                      NaN                     NaN
3                    NaN                      NaN                     NaN
4                    NaN                      NaN                     NaN
...                  ...                      ...                     ...
86507          4814582.0                3473523.0                139213.0
86508          4886242.0                3487962.0                100086.0
86509          4918147.0                3493763.0                 53311.0
86510          4975433.0                3501493.0                 89321.0
86511          5053114.0                3510256.0                105369.0

       daily_vaccinations  total_vaccinations_per_hundred  \
0                     NaN                            0.00
1                  1367.0                             NaN
2                  1367.0                             NaN
3                  1367.0                             NaN
4                  1367.0                             NaN
...                   ...                             ...
86507             69579.0                           57.59
86508             83429.0                           58.25
86509             90629.0                           58.61
86510            100614.0                           59.20
86511            103751.0                           59.90

       people_vaccinated_per_hundred  people_fully_vaccinated_per_hundred  \
0                               0.00                                  NaN
1                                NaN                                  NaN
2                                NaN                                  NaN
3                                NaN                                  NaN
4                                NaN                                  NaN
...                              ...                                  ...
86507                          31.90                                23.02
86508                          32.38                                23.11
86509                          32.59                                23.15
86510                          32.97                                23.20
86511                          33.48                                23.26

       daily_vaccinations_per_million  \
0                                 NaN
1                                34.0
2                                34.0
3                                34.0
4                                34.0
...                               ...
86507                          4610.0
86508                          5528.0
86509                          6005.0
86510                          6667.0
86511                          6874.0

                                                vaccines  \
0      Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...
1      Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...
2      Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...
3      Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...
4      Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...
...                                                  ...
86507  Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...
86508  Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...
86509  Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...
86510  Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...
86511  Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...

                     source_name  \
0      World Health Organization
1      World Health Organization
2      World Health Organization
3      World Health Organization
4      World Health Organization
...                          ...
86507         Ministry of Health
86508         Ministry of Health
86509         Ministry of Health
86510         Ministry of Health
86511         Ministry of Health

                                          source_website
0                               https://covid19.who.int/
1                               https://covid19.who.int/
2                               https://covid19.who.int/
3                               https://covid19.who.int/
4                               https://covid19.who.int/
...                                                  ...
86507  https://www.arcgis.com/home/webmap/viewer.html...
86508  https://www.arcgis.com/home/webmap/viewer.html...
86509  https://www.arcgis.com/home/webmap/viewer.html...
86510  https://www.arcgis.com/home/webmap/viewer.html...
86511  https://www.arcgis.com/home/webmap/viewer.html...

[86512 rows x 15 columns]>

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [145]:
df_pivot = df.pivot_table(index='date', columns='country', values='daily_vaccinations_per_million')
print(df_pivot)

country     Afghanistan  Albania  Algeria  Andorra  Angola  Anguilla  \
date
2020-12-03          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-04          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-05          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-06          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-07          NaN      NaN      NaN      NaN     NaN       NaN
...                 ...      ...      ...      ...     ...       ...
2022-03-25          NaN      NaN      NaN      NaN  1007.0     727.0
2022-03-26          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-27          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-28          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-29          NaN      NaN      NaN      NaN     NaN       NaN

country     Antigua and Barbuda  Argentina  Armenia  Aruba  ...  Uruguay  \
date                                                        ...
2020-12-03                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-04                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-05                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-06                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-07                  NaN        NaN      NaN    NaN  ...      NaN
...                         ...        ...      ...    ...  ...      ...
2022-03-25                  NaN     1712.0      NaN  653.0  ...   3425.0
2022-03-26                  NaN     1653.0      NaN  625.0  ...   3418.0
2022-03-27                  NaN     1620.0      NaN  672.0  ...   3417.0
2022-03-28                  NaN     1521.0      NaN  709.0  ...   2990.0
2022-03-29                  NaN     1200.0      NaN  718.0  ...   2897.0

country     Uzbekistan  Vanuatu  Venezuela  Vietnam  Wales  Wallis and Futuna  \
date
2020-12-03         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-04         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-05         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-06         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-07         NaN      NaN        NaN      NaN    NaN                NaN
...                ...      ...        ...      ...    ...                ...
2022-03-25         NaN      NaN        0.0      NaN  526.0             1172.0
2022-03-26         NaN      NaN        NaN      NaN  479.0             1352.0
2022-03-27         NaN      NaN        NaN      NaN  475.0             1532.0
2022-03-28         NaN      NaN        NaN      NaN  508.0             1713.0
2022-03-29         NaN      NaN        NaN      NaN    NaN                NaN

country     Yemen  Zambia  Zimbabwe
date
2020-12-03    NaN     NaN       NaN
2020-12-04    NaN     NaN       NaN
2020-12-05    NaN     NaN       NaN
2020-12-06    NaN     NaN       NaN
2020-12-07    NaN     NaN       NaN
...           ...     ...       ...
2022-03-25    NaN   900.0    4610.0
2022-03-26    NaN   760.0    5528.0
2022-03-27    NaN   765.0    6005.0
2022-03-28    NaN   770.0    6667.0
2022-03-29    NaN   721.0    6874.0

[482 rows x 223 columns]

3. Convert the date index to datetime format.

In [146]:
df_pivot.index = pd.to_datetime(df_pivot.index)

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [147]:
df_pivot['month'] = df_pivot.index.month
print(df_pivot)

country     Afghanistan  Albania  Algeria  Andorra  Angola  Anguilla  \
date
2020-12-03          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-04          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-05          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-06          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-07          NaN      NaN      NaN      NaN     NaN       NaN
...                 ...      ...      ...      ...     ...       ...
2022-03-25          NaN      NaN      NaN      NaN  1007.0     727.0
2022-03-26          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-27          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-28          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-29          NaN      NaN      NaN      NaN     NaN       NaN

country     Antigua and Barbuda  Argentina  Armenia  Aruba  ...  Uzbekistan  \
date                                                        ...
2020-12-03                  NaN        NaN      NaN    NaN  ...         NaN
2020-12-04                  NaN        NaN      NaN    NaN  ...         NaN
2020-12-05                  NaN        NaN      NaN    NaN  ...         NaN
2020-12-06                  NaN        NaN      NaN    NaN  ...         NaN
2020-12-07                  NaN        NaN      NaN    NaN  ...         NaN
...                         ...        ...      ...    ...  ...         ...
2022-03-25                  NaN     1712.0      NaN  653.0  ...         NaN
2022-03-26                  NaN     1653.0      NaN  625.0  ...         NaN
2022-03-27                  NaN     1620.0      NaN  672.0  ...         NaN
2022-03-28                  NaN     1521.0      NaN  709.0  ...         NaN
2022-03-29                  NaN     1200.0      NaN  718.0  ...         NaN

country     Vanuatu  Venezuela  Vietnam  Wales  Wallis and Futuna  Yemen  \
date
2020-12-03      NaN        NaN      NaN    NaN                NaN    NaN
2020-12-04      NaN        NaN      NaN    NaN                NaN    NaN
2020-12-05      NaN        NaN      NaN    NaN                NaN    NaN
2020-12-06      NaN        NaN      NaN    NaN                NaN    NaN
2020-12-07      NaN        NaN      NaN    NaN                NaN    NaN
...             ...        ...      ...    ...                ...    ...
2022-03-25      NaN        0.0      NaN  526.0             1172.0    NaN
2022-03-26      NaN        NaN      NaN  479.0             1352.0    NaN
2022-03-27      NaN        NaN      NaN  475.0             1532.0    NaN
2022-03-28      NaN        NaN      NaN  508.0             1713.0    NaN
2022-03-29      NaN        NaN      NaN    NaN                NaN    NaN

country     Zambia  Zimbabwe  month
date
2020-12-03     NaN       NaN     12
2020-12-04     NaN       NaN     12
2020-12-05     NaN       NaN     12
2020-12-06     NaN       NaN     12
2020-12-07     NaN       NaN     12
...            ...       ...    ...
2022-03-25   900.0    4610.0      3
2022-03-26   760.0    5528.0      3
2022-03-27   765.0    6005.0      3
2022-03-28   770.0    6667.0      3
2022-03-29   721.0    6874.0      3

[482 rows x 224 columns]

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [124]:
mean = df_pivot.groupby('month').mean()
grouped = pd.DataFrame(mean)
df_stack = grouped.stack()
df_stack = df_stack.to_frame()
result = df_stack.pivot_table(index='country', columns='month')
print(result)

                             0                                         \
month                       1            2            3            4
country
Afghanistan         323.806452   305.852941   153.886792   183.700000
Albania            1357.423077  1171.250000   823.363636  3933.466667
Algeria             394.878788   233.375000   410.100000   501.000000
Andorra            7731.216216  2848.053571  2650.636364  7494.566667
Angola             2922.612903  1941.035714   619.854545   364.600000
...                        ...          ...          ...          ...
Wales              3911.384615  4119.553571  4788.288136  7441.800000
Wallis and Futuna   808.387097  1262.000000  5894.333333  8512.100000
Yemen                84.903226    48.178571    45.875000          NaN
Zambia             1183.032258   848.785714  1033.103448    70.562500
Zimbabwe            802.645161   470.473684  1053.333333   799.066667

                                                                        \
month                       5             6            7            8
country
Afghanistan         231.322581    203.233333   273.096774   479.161290
Albania            3739.580645   2095.700000  2561.225806  3007.419355
Algeria             501.000000    501.000000   501.000000  1857.870968
Andorra            2790.709677  13875.533333  7402.838710  4367.354839
Angola              366.870968    581.300000   166.387097   286.548387
...                        ...           ...          ...          ...
Wales              7108.419355   6978.800000  4488.032258  2060.516129
Wallis and Futuna  8330.548387   1766.733333  1104.935484  1349.161290
Yemen               143.818182    181.400000    45.838710     8.290323
Zambia              214.161290      9.433333   415.645161   297.129032
Zimbabwe           1147.806452    647.633333  2225.967742  3847.612903


month                       9            10           11           12
country
Afghanistan         471.066667   862.516129   687.266667   385.741935
Albania            3239.166667  2005.806452  2264.466667  2537.161290
Algeria            2931.666667   745.741935   727.466667   414.419355
Andorra            2795.633333   945.645161   713.133333  5460.000000
Angola             1257.766667  2917.903226  2984.266667  2040.774194
...                        ...          ...          ...          ...
Wales               703.900000  5148.677419  5047.933333  8355.677419
Wallis and Futuna  2004.133333  3009.451613  1415.233333   613.580645
Yemen                81.500000   147.806452    69.400000    63.000000
Zambia              238.166667   342.741935   290.533333   998.483871
Zimbabwe           2535.466667  1313.322581  1500.933333  1452.225806

[223 rows x 12 columns]

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [125]:
#df = df.to_frame()
df["date"] = pd.to_datetime(df["date"])
df["month"] = df["date"].dt.month
result = df.pivot_table(index="country", columns="month", values="daily_vaccinations_per_million")
print(result)

month                       1            2            3            4   \
country
Afghanistan         323.806452   305.852941   153.886792   183.700000
Albania            1357.423077  1171.250000   823.363636  3933.466667
Algeria             394.878788   233.375000   410.100000   501.000000
Andorra            7731.216216  2848.053571  2650.636364  7494.566667
Angola             2922.612903  1941.035714   619.854545   364.600000
...                        ...          ...          ...          ...
Wales              3911.384615  4119.553571  4788.288136  7441.800000
Wallis and Futuna   808.387097  1262.000000  5894.333333  8512.100000
Yemen                84.903226    48.178571    45.875000          NaN
Zambia             1183.032258   848.785714  1033.103448    70.562500
Zimbabwe            802.645161   470.473684  1053.333333   799.066667

month                       5             6            7            8   \
country
Afghanistan         231.322581    203.233333   273.096774   479.161290
Albania            3739.580645   2095.700000  2561.225806  3007.419355
Algeria             501.000000    501.000000   501.000000  1857.870968
Andorra            2790.709677  13875.533333  7402.838710  4367.354839
Angola              366.870968    581.300000   166.387097   286.548387
...                        ...           ...          ...          ...
Wales              7108.419355   6978.800000  4488.032258  2060.516129
Wallis and Futuna  8330.548387   1766.733333  1104.935484  1349.161290
Yemen               143.818182    181.400000    45.838710     8.290323
Zambia              214.161290      9.433333   415.645161   297.129032
Zimbabwe           1147.806452    647.633333  2225.967742  3847.612903

month                       9            10           11           12
country
Afghanistan         471.066667   862.516129   687.266667   385.741935
Albania            3239.166667  2005.806452  2264.466667  2537.161290
Algeria            2931.666667   745.741935   727.466667   414.419355
Andorra            2795.633333   945.645161   713.133333  5460.000000
Angola             1257.766667  2917.903226  2984.266667  2040.774194
...                        ...          ...          ...          ...
Wales               703.900000  5148.677419  5047.933333  8355.677419
Wallis and Futuna  2004.133333  3009.451613  1415.233333   613.580645
Yemen                81.500000   147.806452    69.400000    63.000000
Zambia              238.166667   342.741935   290.533333   998.483871
Zimbabwe           2535.466667  1313.322581  1500.933333  1452.225806

[223 rows x 12 columns]

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [149]:

new_df = df_pivot.stack().reset_index()
print(new_df)

            date               country       0
0     2020-12-03                Norway     0.0
1     2020-12-03                 month    12.0
2     2020-12-04                Norway     0.0
3     2020-12-04                 month    12.0
4     2020-12-05                Latvia     0.0
...          ...                   ...     ...
86690 2022-03-29  United Arab Emirates   845.0
86691 2022-03-29               Uruguay  2897.0
86692 2022-03-29                Zambia   721.0
86693 2022-03-29              Zimbabwe  6874.0
86694 2022-03-29                 month     3.0

[86695 rows x 3 columns]

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [141]:
melted_df = df_pivot.melt(id_vars = ["date","month"])

print(melted_df)

             date  month   country   value
0      2020-12-03     12   level_0     0.0
1      2020-12-04     12   level_0     1.0
2      2020-12-05     12   level_0     2.0
3      2020-12-06     12   level_0     3.0
4      2020-12-07     12   level_0     4.0
...           ...    ...       ...     ...
108445 2022-03-25      3  Zimbabwe  4610.0
108446 2022-03-26      3  Zimbabwe  5528.0
108447 2022-03-27      3  Zimbabwe  6005.0
108448 2022-03-28      3  Zimbabwe  6667.0
108449 2022-03-29      3  Zimbabwe  6874.0

[108450 rows x 4 columns]