## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 01-02 23:59**.

In [1]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [2]:
df = pd.read_csv("country_vaccinations.csv")
df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86507,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,139213.0,69579.0,57.59,31.90,23.02,4610.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86508,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,100086.0,83429.0,58.25,32.38,23.11,5528.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86509,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,53311.0,90629.0,58.61,32.59,23.15,6005.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86510,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,89321.0,100614.0,59.20,32.97,23.20,6667.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
86511,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,105369.0,103751.0,59.90,33.48,23.26,6874.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [3]:
df.describe()

# df.columns

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,4.360700e+04,4.129400e+04,3.880200e+04,3.536200e+04,8.621300e+04,43607.000000,41294.000000,38802.000000,86213.000000
mean,4.592964e+07,1.770508e+07,1.413830e+07,2.705996e+05,1.313055e+05,80.188543,40.927317,35.523243,3257.049157
std,2.246004e+08,7.078731e+07,5.713920e+07,1.212427e+06,7.682388e+05,67.913577,29.290759,28.376252,3934.312440
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,5.264100e+05,3.494642e+05,2.439622e+05,4.668000e+03,9.000000e+02,16.050000,11.370000,7.020000,636.000000
50%,3.590096e+06,2.187310e+06,1.722140e+06,2.530900e+04,7.343000e+03,67.520000,41.435000,31.750000,2050.000000
75%,1.701230e+07,9.152520e+06,7.559870e+06,1.234925e+05,4.409800e+04,132.735000,67.910000,62.080000,4682.000000
max,3.263129e+09,1.275541e+09,1.240777e+09,2.474100e+07,2.242429e+07,345.370000,124.760000,122.370000,117497.000000

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [4]:
pivoted = df.pivot(index='date', columns='country', values='daily_vaccinations_per_million')
# pivoted

3. Convert the date index to datetime format.

In [5]:
df.index  = pd.to_datetime(df.index)
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
1970-01-01 00:00:00.000000000,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1970-01-01 00:00:00.000000001,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1970-01-01 00:00:00.000000002,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1970-01-01 00:00:00.000000003,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1970-01-01 00:00:00.000000004,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [6]:
# df['month'] = pd.to_datetime(df['date']).apply(lambda x: x.month_name())
# df.head()

df['month'] = pd.DatetimeIndex(df['date']).month_name()
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website,month
1970-01-01 00:00:00.000000000,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
1970-01-01 00:00:00.000000001,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
1970-01-01 00:00:00.000000002,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
1970-01-01 00:00:00.000000003,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February
1970-01-01 00:00:00.000000004,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,February

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [7]:
vaccinations_per_country = df.groupby(['month', 'country'])['daily_vaccinations_per_million'].mean().reset_index()

vaccinations_result = vaccinations_per_country.pivot(index= 'country', columns= 'month', values= 'daily_vaccinations_per_million')
vaccinations_result

month,April,August,December,February,January,July,June,March,May,November,October,September
country,,,,,,,,,,,,
Afghanistan,183.700000,479.161290,385.741935,305.852941,323.806452,273.096774,203.233333,153.886792,231.322581,687.266667,862.516129,471.066667
Albania,3933.466667,3007.419355,2537.161290,1171.250000,1357.423077,2561.225806,2095.700000,823.363636,3739.580645,2264.466667,2005.806452,3239.166667
Algeria,501.000000,1857.870968,414.419355,233.375000,394.878788,501.000000,501.000000,410.100000,501.000000,727.466667,745.741935,2931.666667
Andorra,7494.566667,4367.354839,5460.000000,2848.053571,7731.216216,7402.838710,13875.533333,2650.636364,2790.709677,713.133333,945.645161,2795.633333
Angola,364.600000,286.548387,2040.774194,1941.035714,2922.612903,166.387097,581.300000,619.854545,366.870968,2984.266667,2917.903226,1257.766667
...,...,...,...,...,...,...,...,...,...,...,...,...
Wales,7441.800000,2060.516129,8355.677419,4119.553571,3911.384615,4488.032258,6978.800000,4788.288136,7108.419355,5047.933333,5148.677419,703.900000
Wallis and Futuna,8512.100000,1349.161290,613.580645,1262.000000,808.387097,1104.935484,1766.733333,5894.333333,8330.548387,1415.233333,3009.451613,2004.133333
Yemen,NaN,8.290323,63.000000,48.178571,84.903226,45.838710,181.400000,45.875000,143.818182,69.400000,147.806452,81.500000
Zambia,70.562500,297.129032,998.483871,848.785714,1183.032258,415.645161,9.433333,1033.103448,214.161290,290.533333,342.741935,238.166667
Zimbabwe,799.066667,3847.612903,1452.225806,470.473684,802.645161,2225.967742,647.633333,1053.333333,1147.806452,1500.933333,1313.322581,2535.466667

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [8]:
pivoted_df = df.pivot_table(index= 'country', columns= 'month', values= 'daily_vaccinations_per_million', aggfunc= 'mean')
pivoted_df

month,April,August,December,February,January,July,June,March,May,November,October,September
country,,,,,,,,,,,,
Afghanistan,183.700000,479.161290,385.741935,305.852941,323.806452,273.096774,203.233333,153.886792,231.322581,687.266667,862.516129,471.066667
Albania,3933.466667,3007.419355,2537.161290,1171.250000,1357.423077,2561.225806,2095.700000,823.363636,3739.580645,2264.466667,2005.806452,3239.166667
Algeria,501.000000,1857.870968,414.419355,233.375000,394.878788,501.000000,501.000000,410.100000,501.000000,727.466667,745.741935,2931.666667
Andorra,7494.566667,4367.354839,5460.000000,2848.053571,7731.216216,7402.838710,13875.533333,2650.636364,2790.709677,713.133333,945.645161,2795.633333
Angola,364.600000,286.548387,2040.774194,1941.035714,2922.612903,166.387097,581.300000,619.854545,366.870968,2984.266667,2917.903226,1257.766667
...,...,...,...,...,...,...,...,...,...,...,...,...
Wales,7441.800000,2060.516129,8355.677419,4119.553571,3911.384615,4488.032258,6978.800000,4788.288136,7108.419355,5047.933333,5148.677419,703.900000
Wallis and Futuna,8512.100000,1349.161290,613.580645,1262.000000,808.387097,1104.935484,1766.733333,5894.333333,8330.548387,1415.233333,3009.451613,2004.133333
Yemen,NaN,8.290323,63.000000,48.178571,84.903226,45.838710,181.400000,45.875000,143.818182,69.400000,147.806452,81.500000
Zambia,70.562500,297.129032,998.483871,848.785714,1183.032258,415.645161,9.433333,1033.103448,214.161290,290.533333,342.741935,238.166667
Zimbabwe,799.066667,3847.612903,1452.225806,470.473684,802.645161,2225.967742,647.633333,1053.333333,1147.806452,1500.933333,1313.322581,2535.466667

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [9]:
new_df = df.set_index(["country", "date", "month"]).stack().reset_index()
new_df
new_df.drop(columns=['level_3', 0])

            country        date     month
0       Afghanistan  2021-02-22  February
1       Afghanistan  2021-02-22  February
2       Afghanistan  2021-02-22  February
3       Afghanistan  2021-02-22  February
4       Afghanistan  2021-02-22  February
...             ...         ...       ...
801237     Zimbabwe  2022-03-29     March
801238     Zimbabwe  2022-03-29     March
801239     Zimbabwe  2022-03-29     March
801240     Zimbabwe  2022-03-29     March
801241     Zimbabwe  2022-03-29     March

[801242 rows x 3 columns]

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [10]:
melted_df = df.melt(
    id_vars = ["country", "date", "month"]
)

melted_df
melted_df.drop(columns = ['variable', 'value'])

             country        date     month
0        Afghanistan  2021-02-22  February
1        Afghanistan  2021-02-23  February
2        Afghanistan  2021-02-24  February
3        Afghanistan  2021-02-25  February
4        Afghanistan  2021-02-26  February
...              ...         ...       ...
1124651     Zimbabwe  2022-03-25     March
1124652     Zimbabwe  2022-03-26     March
1124653     Zimbabwe  2022-03-27     March
1124654     Zimbabwe  2022-03-28     March
1124655     Zimbabwe  2022-03-29     March

[1124656 rows x 3 columns]